.header
    top: 0
    height: 80px
    left: 0
    right: 0
    position: absolute

.footer
    bottom: 0
    height: 40px
    left: 0
    right: 0
    position: absolute

.navigation
    top: 80px
    bottom: 40px
    left: 0
    width: 240px
    position: absolute

.body
    top: 80px
    bottom: 40px
    right: 0
    left: 240px
    position: absolute